.container {
  display: flex;
  flex: 1;
}

.grid {
  flex: 1;
  display: grid;
  width: clamp(600px, 90vw, 1200px);
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  grid-template-areas:
    'sidebar chat'
    'sidebar chat'
    'sidebar chat'
    'sidebar chat';
  margin: 2rem 0px;
}

.sidebar {
  grid-area: sidebar;
  width: auto;
  border: 1px solid #00b4d8;
}

.current {
  grid-area: chat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid #00b4d8;
}

.friend-list {
  grid-area: chat;
  display: flex;
  flex-direction: column;
  border: 1px solid #00b4d8;
}
