.tiles {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.empty-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: clamp(40px, 10vh, 60px);
}

.buttons {
  display: flex;
  flex: 1;
  height: clamp(20px, 10vh, 40px);
}
.start-chat {
  flex: 1;
  padding: 0.25rem;
}
.friends {
  padding: 0.25rem;
  flex: 1;
}
