.info {
  display: flex;
  padding: 0.5rem;
  border-bottom: 1px solid gray;
  gap: 1rem;
  height: clamp(40px, 10vh, 60px);
  width: 100%;
}

.active {
  background-color: #00b4d8;
}
.profile-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  min-width: 40px;
  aspect-ratio: 1/1;
  font-weight: bold;
  color: black;
  background-color: white;
}

.message-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.username {
  font-weight: bold;
}

.last-message {
  /* display: flex; */
  overflow: hidden;
  text-overflow: ellipsis;
}
