.top-nav {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid white;
}

.button {
  margin: 0.5rem;
  cursor: pointer;
}

.search {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

#search {
  padding: 0.5rem;
  margin: 1rem;
  width: 100%;
}
