.container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 1rem;
}

.sub-heading {
  display: flex;
  flex: 1;
  margin: 0;
  padding: 1rem;
  border-bottom: 1px solid gray;
}

.requests {
  display: flex;
  height: clamp(40px, 10vh, 60px);
}

.user-card {
  display: flex;
  font-size: 1.5rem;
  width: 100%;
  gap: 0.5rem;
}

.profile-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  aspect-ratio: 1/1;
  font-weight: bold;
  color: black;
  background-color: white;
}
