.container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 1rem;
}

.sub-heading {
  display: flex;
  flex: 1;
  margin: 0;
  padding: 1rem;
  border-bottom: 1px solid gray;
}

.requests {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.user-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
}

.user-info {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  height: clamp(20px, 10vh, 40px);
  font-size: 1.5rem;
}

.profile-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  aspect-ratio: 1/1;
  font-weight: bold;
  color: black;
  background-color: white;
  height: 100%;
}

.displayName {
  font-size: 1.5rem;
}

.accept-decline-buttons {
  display: flex;
  gap: 0.5rem;
}

.accept-button,
.decline-button {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
}
